# These are some env data to bring into the programs 
# Since they are common to all things that could run, we will keep them in env.list

# To update, copy env.list.template to env.list and then update the variables


# Latitude
MYLAT=0.0

# Longitude
MYLNG=0.0

# String timezone
STRTZ=America/Chicago

